1.Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

In [4]:
break=5

SyntaxError: ignored

2.Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [7]:
Byear=2004
Cyear=2023
Calculate_age=Cyear-Byear
print(Calculate_age)

19

3.Store your first, middle and last name in three different variables and then print your full name using these variables

In [15]:
fname="Saba"
mname="reesh"
lname="Pandian"
fullname=(fname+mname+" "+last)
print(fullname)

Sabareesh Pandian

4.Answer which of these are invalid variable names:

_nation

1record

record1

record_one

record-one

record^one

continue

In [28]:
invalid_variable="1record,record-one,record^one"
print(invalid_variable)

1record,record-one,record^one