1.Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [ ]:
Street="6-A 1st Street"
City="Madurai"
Country="India"
Address=Street+"\n"+City+"\n"+Country
print("Address:",Address)

Address: 6-A 1st Street
Madurai
India

2.Create a variable to store the string "Earth revolves around the sun"

i.Print "revolves" using slice operator

ii.Print "sun" using negative index

In [ ]:
string="Earth revolves around the sun"
print(string[6:13])
print(string[-3:])

revolve
sun

3.Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [ ]:
vegetable="Potato"
fruit="Apple"
print(f"I eat {vegetable} and {fruit} daily")

I eat Potato and Apple daily

4.I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [ ]:
s='maine 200 banana khaye'
corrected=s.replace("maine 200 banana khaye","maine 10 samosa khaye")
print(corrected)

maine 10 samosa khaye